# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/
env/

# Ruff cache
.ruff_cache/

# UV
uv.lock

# IDE
.vscode/
.idea/
.claude/

# Notes personnelles
notes
